<!doctype html>
<html class="no-js" lang="en">

<head>
	<!-- meta data -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<!--font-family-->
	<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Rufina:400,700" rel="stylesheet">

	<!-- title of site -->
	<title>Health Care Fraud Detection</title>

	<!-- For favicon png -->
	<link rel="shortcut icon" type="image/icon" href="static/logo/favicon.png" />

	<!--font-awesome.min.css-->
	<link rel="stylesheet" href="static/css/font-awesome.min.css">

	<!--linear icon css-->
	<!-- <link rel="stylesheet" href="static/css/linearicons.css"> -->

	<!--flaticon.css-->
	<!-- <link rel="stylesheet" href="static/css/flaticon.css"> -->

	<!--animate.css-->
	<link rel="stylesheet" href="static/css/animate.css">

	<!--owl.carousel.css-->
	<!-- <link rel="stylesheet" href="static/css/owl.carousel.min.css"> -->
	<!-- <link rel="stylesheet" href="static/css/owl.theme.default.min.css"> -->

	<!--bootstrap.min.css-->
	<link rel="stylesheet" href="static/css/bootstrap.min.css">

	<!-- bootsnav -->
	<!-- <link rel="stylesheet" href="static/css/bootsnav.css" >	 -->

	<!--style.css-->
	<link rel="stylesheet" href="static/css/style.css">

	<!--responsive.css-->
	<!-- <link rel="stylesheet" href="static/css/responsive.css"> -->

</head>

<body>
	<!-- {% with messages = get_flashed_messages() %}
			{% if messages %}
			
			<script src="https://code.jquery.com/jquery-3.5.1.js"
			integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
			crossorigin="anonymous"></script>
			<script type="text/javascript">
				$(document).on('submit','#todo-form',function(e)
							   {
				  console.log('hello');
				  e.preventDefault();
				  $.ajax({
					type:'POST',
					url:'/',
					data:{
					  todo:$("#todo").val()
					},
					success:function()
					{
					  alert(messages);
					}
				  })
				});
			  </script>
			{% endif %}
			{% endwith %} -->
			
	<div class="welcome-hero">
		<div class="top-area">
			<div class="header-area">
				<nav class="navbar navbar-default bootsnav  navbar-sticky navbar-scrollspy"
					data-minus-value-desktop="70" data-minus-value-mobile="55" data-speed="1000">

					<div class="container">


						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse"
								data-target="#navbar-menu">
								<i class="fa fa-bars"></i>
							</button>
							<a class="navbar-brand" href="index.html">Health Care Fraud Detection<span></span></a>

						</div>
					</div>
				</nav>
			</div>
			<div class="clearfix"></div>

		</div><!-- /.top-area-->
		<!-- top-area End -->

		<div class="container">
			<div class="welcome-hero-txt">
				<h2>Verify if your healthcare provider is Fraud</h2>
				<p>
					Healthcare provider fraud is a significant issue that leads to substantial financial losses and
					compromised patient care.
					We have a data-driven solution to detect and prevent fraud committed by healthcare providers.
					Specifically, we analyze healthcare claims data to identify anomalous patterns and potentially
					fraudulent activities.

			</div>
		</div>
		<div class="container">
			
			<div class="row" style="position: relative;">

				<div class="col-md-12">
					<div class="model-search-content">
						<form  id="todo-form" method="post">
							<!-- action="{{url_for('view.home')}}" -->
							<div class="row">
								<h5 style="margin: 30px;">Please provide the necessary information to verify the
									legitimacy
									of your policy and ensure its authenticity.</h5>
								<div class="col-md-offset-1 col-md-10 col-sm-12">

									<div class="single-model-search row">
										<h2 class=" col-sm-4">InscClaimAmtReimbursed</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="InscClaimAmtReimbursed"
												name="InscClaimAmtReimbursed">
										</div>
									</div>

									<div class="single-model-search row">
										<h2 class=" col-sm-4">IPAnnualReimbursementAmt</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="IPAnnualReimbursementAmt"
												name="IPAnnualReimbursementAmt">
										</div>
									</div>

									<div class="single-model-search row">
										<h2 class=" col-sm-4">IPAnnualDeductibleAmt</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="IPAnnualDeductibleAmt"
												name="IPAnnualDeductibleAmt">
										</div>
									</div>

									<div class="single-model-search row">
										<h2 class=" col-sm-4">OPAnnualReimbursementAmt</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="OPAnnualReimbursementAmt"
												name="OPAnnualReimbursementAmt">
										</div>
									</div>

									<div class="single-model-search row">
										<h2 class=" col-sm-4">OPAnnualDeductibleAmt</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="OPAnnualDeductibleAmt"
												name="OPAnnualDeductibleAmt">
										</div>
									</div>

									<div class="single-model-search row">
										<h2 class=" col-sm-4">Age</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="Age" name="Age">
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">DaysAdmitted</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="DaysAdmitted" name="DaysAdmitted">
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">TotalDiagnosis</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="TotalDiagnosis" name="TotalDiagnosis">
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">TotalProcedure</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="TotalProcedure" name="TotalProcedure">
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">EncounterType</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="EncounterType" name="EncounterType">
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">Gender</h2>
										<div class=" col-sm-6"> 
										<select name="Gender" id="Gender">
											<option value="" disabled selected>Select</option>
											<option value="0">Male</option>
											<option value="1">Female</option>
											<option value="2">Other</option>
										  </select>
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">Race</h2>
										<div class=" col-sm-6"> 
										<select name="Race" id="Race">
											<option value="" disabled selected>Select</option>
											<option value="0">Race</option>
											<option value="1">Race</option>
											<option value="2">Race</option>
										  </select>
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">RenalDiseaseIndicator</h2>
										<div class=" col-sm-6">
											<input class="form-control" type="text" id="RenalDiseaseIndicator" name="RenalDiseaseIndicator">
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">Select all the Disease patient had.</h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Alzheimer</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Alzheimer" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Heartfailure</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Heartfailure" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Alzheimer</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Alzheimer" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_KidneyDisease</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_KidneyDisease" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Cancer</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Cancer" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_ObstrPulmonary</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_ObstrPulmonary" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Depression</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Depression" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Diabetes</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Diabetes" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_IschemicHeart</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_IschemicHeart" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_Osteoporasis</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_Osteoporasis" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_rheumatoidarthritis</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_rheumatoidarthritis" value = "" />
											</div>
										</div>
										<h2 class=" col-sm-4"></h2>
										<div class="single-model-search row">
											<h2 class=" col-sm-4">ChronicCond_stroke</h2>
											<div class=" col-sm-1"> 
												<input type="checkbox" name="ChronicCond_stroke" value = "" />
											</div>
										</div>
									</div>
									<div class="single-model-search row">
										<h2 class=" col-sm-4">IsDead</h2>
										<div class=" col-sm-6"> 
										<select name="IsDead" id="Race">
											<option value="" IsDead selected>Select</option>
											<option value="0">Yes</option>
											<option value="1">No</option>
										  </select>
										</div>
									</div>
								</div>
								<div class="col-md-12 col-sm-12">
									<div class="single-model-search text-center">
										<button  type="submit" class="welcome-btn model-search-btn"
											onclick="document.getElementById('result').scrollIntoView();">
											Check policy
										</button>
									</div>
								</div>

							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		{% if scroll=='result'%}
		{{scroll}}
		<div class="container">
			<div class="welcome-hero-txt" id="result" style="padding: 0%!important;">
				<h2>{{name}}</h2>
			</div>
		</div>
		{% endif %}


		<script src="static/js/jquery.js"></script>

		<!--modernizr.min.js-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>

		<!--bootstrap.min.js-->
		<script src="static/js/bootstrap.min.js"></script>

		<!-- bootsnav js -->
		<script src="static/js/bootsnav.js"></script>

		<!--owl.carousel.js-->
		<script src="static/js/owl.carousel.min.js"></script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

		<!--Custom JS-->
		<script src="static/js/custom.js"></script>

</body>

</html>